<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>FluxAfya - Digital Healthcare System </title>

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/landing/css/custom.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mx-auto">
                <div class="text-center">
                    <img src="assets/landing/images/logo.png" alt="fluxafya logo" class="logo">
                </div>
                <div class="center-text">
                    <p>Digitize &#8226; Visualize &#8226; Optimize</p>
                </div>
                <div class="center-text">
                    <p><b class="healthcare-tag">HEALTH CARE</b></p>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-sm-12 col-md-6">
                <a style="cursor: pointer;text-decoration: none;" (click)="goToHealthCareLogin()">
                    <div class="text-center">
                        <img src="assets/landing/images/health.png" alt="Health Centres" class="img-links">
                        <p class="sub-title">Health Centres</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <a style="cursor: pointer;text-decoration: none;" href="#">
                    <div class="text-center">
                        <img src="assets/landing/images/mch.png" alt="Mother &amp; Child" class="img-links">
                        <p class="sub-title">Mother &amp; Child</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 mx-auto">
                <a style="cursor: pointer;text-decoration: none;" href="#">
                    <div class="text-center">
                        <img src="assets/landing/images/myafya.png" alt="MyAfya" class="img-links">
                        <p class="sub-title">MyAfya</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="center-text">
                    <p>Your Partner in Accelerating Universal Health Coverage</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="center-text">
                    <a href="#"><b>Join Us</b></a>
                </div>
            </div>
        </div>

        <div class="row footer">
            <div class="col-sm-12 col-md-6">
                <div class="copyright">
                    <p>©FluxAfya2019</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <ul class='nav-links nav-mobile'>
                    <li>About Us</li>
                    <li>Partners</li>
                    <li>Contact us</li>
                    <img src="assets/landing/images/flag.png " alt="Kenyan Flag " class="flag ">
                </ul>
                <ul class='nav-links nav-lg float-right'>
                    <li>About Us</li>
                    <li>Partners</li>
                    <li>Contact us</li>
                    <img src="assets/landing/images/flag.png " alt="Kenyan Flag " class="flag ">
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js " integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp " crossorigin="anonymous "></script>
</body>


</html>