<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto">
            <div class="text-center">
                <img src="assets/landing/images/logo.png" alt="fluxafya logo" class="logo">
            </div>
            <div class="center-text">
                <p>Digitize &#8226; Visualize &#8226; Optimize</p>
            </div>
            <div class="center-text">
                <p><b class="healthcare-tag">HEALTH CARE</b></p>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-12 col-md-6">
            <a style="cursor: pointer;text-decoration: none;" (click)="goToHealthCareLogin()">
                <div class="text-center">
                    <img src="assets/landing/images/health.png" alt="Health Centres" class="img-links">
                    <p class="sub-title">Health Centres</p>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6">
            <a style="cursor: pointer;text-decoration: none;" href="#">
                <div class="text-center">
                    <img src="assets/landing/images/mch.png" alt="Mother &amp; Child" class="img-links">
                    <p class="sub-title">Mother &amp; Child</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto">
            <a style="cursor: pointer;text-decoration: none;" href="#">
                <div class="text-center">
                    <img src="assets/landing/images/myafya.png" alt="MyAfya" class="img-links">
                    <p class="sub-title">MyAfya</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="center-text">
                <p>Your Partner in Accelerating Universal Health Coverage</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="center-text">
                <a href="#"><b>Join Us</b></a>
            </div>
        </div>
    </div>

    <div class="row footer">
        <div class="col-sm-12 col-md-6">
            <div class="copyright">
                <p>©FluxAfya2019</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <ul class='nav-links nav-mobile'>
                <li>About Us</li>
                <li>Partners</li>
                <li>Contact us</li>
                <img src="assets/landing/images/flag.png " alt="Kenyan Flag " class="flag ">
            </ul>
            <ul class='nav-links nav-lg float-right'>
                <li>About Us</li>
                <li>Partners</li>
                <li>Contact us</li>
                <img src="assets/landing/images/flag.png " alt="Kenyan Flag " class="flag ">
            </ul>
        </div>
    </div>
</div>