<nav class="navbar custom-navbar main-brand">
    <a class="navbar-brand mr-auto" [routerLink]="['/']">
        <img src="/assets/images/logo.png" style="width:90%">
    </a>

    <a href="javascript:;" class="docked-hidden preferances-icon" container="body" placement="bottom" ngbTooltip="Preferances" (click)="options.settings = !options.settings">
        <i class="icon ion-ios-cog"></i>
    </a>
</nav>
<br>

<!-- main navigation -->
<nav class="menu" *ngIf="!options.settings">
    <app-menu></app-menu>
</nav>

<nav class="menu" *ngIf="options.settings">
    <ul class="navigation">
        <li class="navigation-item">
            <a class="navigation-link" [routerLink]="['/social']">
                <i class="icon ion-ios-navigate mr-3"></i>
                <span class="title mr-auto">Profile</span>
            </a>
        </li>
        <li class="navigation-item">
            <a class="navigation-link">
                <i class="icon ion-ios-bell mr-3"></i>
                <span class="title mr-auto">Notifications</span>
            </a>
        </li>
        <li class="navigation-item">
            <a class="navigation-link" [routerLink]="['/account/lockscreen']">
                <i class="icon ion-ios-locked mr-3"></i>
                <span class="title mr-auto">Lockscreen</span>
            </a>
        </li>
        <li class="navigation-item">
            <hr />
        </li>
        <li class="navigation-item">
            <div class="navigation-link" (click)="options.docked = !options.docked; sendMessage()">
                <label class="custom-control custom-checkbox mb-0 mr-3">
          <input class="custom-control-input" type="checkbox" [(ngModel)]="options.docked">
          <span class="custom-control-label"></span>
        </label>
                <span class="title mr-auto">Docked mode</span>
            </div>
        </li>
        <li class="navigation-item">
            <a class="navigation-link" (click)="toggleFullscreen.emit()">
                <i class="icon ion-ios-eye mr-3"></i>
                <span class="title mr-auto">Fullscreen</span>
            </a>
        </li>
        <li class="navigation-item">
            <div class="navigation-link" (click)="options.boxed = !options.boxed; sendMessage()">
                <label class="custom-control custom-checkbox mb-0 mr-3">
          <input class="custom-control-input" type="checkbox" [(ngModel)]="options.boxed">
          <span class="custom-control-label"></span>
        </label>
                <span class="title mr-auto">Boxed</span>
            </div>
        </li>
        <li class="navigation-item">
            <hr />
        </li>
        <li class="navigation-item docked-hidden">
            <div class="px-4 d-flex align-items-center">
                <select class="custom-select" [(ngModel)]="options.lang" #langSelect="ngModel" (ngModelChange)="translate.use(options.lang)" placeholder="Select language" style="min-width: 100%;">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</option>
        </select>
            </div>
        </li>
    </ul>
</nav>
<!-- /main navigation -->

<nav class="navbar custom-navbar sidebar-footer">
    <ul class="navbar-nav row no-gutters w-100">
        <!-- <li class="nav-item col-4 ml-0 docked-hidden">
      <a [routerLink]="['/email']" class="nav-link m-auto" container="body" ngbTooltip="Inbox">
        <i class="icon ion-ios-filing"></i>
      </a>
    </li> -->
        <li class="nav-item col-6 ml-0 docked-hidden">
            <a [routerLink]="['/social']" class="nav-link m-auto" container="body" ngbTooltip="Settings">
                <i class="icon ion-ios-cog" style="font-size: 24px;"></i>

            </a>
        </li>
        <li class="nav-item col-6 ml-0">
            <a [routerLink]="['/account/signin']" class="nav-link m-auto" container="body" ngbTooltip="Sign out">
                <i class="icon ion-log-out"></i>
            </a>
        </li>

    </ul>
</nav>