<label class="switch my-3">
  <div class="slide-toggle-bar">
    <input type="checkbox" checked>
    <span></span>
  </div>
  <span class="slide-toggle-content">Pay annual save up to 25%</span>
</label>


<div class="card-group pricing">
  <div class="card">
    <div class="card-body">
      <div class="plan-icon"><i class="icon ion-ios-lightbulb-outline text-primary"></i></div>
      <div class="plan-title">Developer</div>
      <h1>
        <span class="plan-price text-primary">
          <span>Free</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Limited to 1 user</li>
        <li>Data analytics</li>
        <li class="plan-feature-inactive text-muted">Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <button class="btn btn-primary">Choose plan</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="plan-icon"><i class="icon ion-ios-flask-outline text-primary"></i></div>
      <div class="plan-title">Basic</div>
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>10</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>5 concurrent users</li>
        <li>Data analytics</li>
        <li class="plan-feature-inactive text-muted">Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <button class="btn btn-primary">Choose plan</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="plan-icon"><i class="icon ion-ios-rose-outline text-primary"></i></div>
      <div class="plan-title">Managed</div>
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>49</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Unlimited users</li>
        <li>Data analytics</li>
        <li>Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <button class="btn btn-primary">Choose plan</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="plan-icon"><i class="icon ion-ios-game-controller-b-outline text-primary"></i></div>
      <div class="plan-title">Enterprise</div>
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>99</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Unlimited users</li>
        <li>Data analytics</li>
        <li>Full search access</li>
        <li>Automatic backups</li>
      </ul>
      <button class="btn btn-primary">Choose plan</button>
    </div>
  </div>
</div>
