<div class="contain" style="width:90% !important">
    <div class="card">
        <div class="card-header">
            <h6 style="font-weight:600; color:#cf005d">Welcome, Dennis Sigei </h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row top-padding-80">
                <div class="col-md-6">
                    <!-- <div class="card"> -->
                            <!-- <div class="card-header">
                                Patients in Queue
                            </div> -->
                                <div class="table-responsive table-scroll">
                                    <table class="table table-striped" *ngFor = "let item of allPatientsRegistered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    PATIENT ID
                                                <th>
                                                    FULL NAME
                                                </th>
                                                <!-- <th>
                                                    PHONE NUMBER
                                                </th> -->
                                                <th>
                                                    GENDER
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr [routerLink]="['/labs/see-patient']">
                                                <th>
                                                    NEXT>
                                                </th>
                                                <th scope="row">
                                                    {{item.id}}.
                                                </th>
                                                <td>
                                                    {{item.national_id}}
                                                </td>
                                                <td>
                                                    {{item.name}}
                                                </td>
                                                <!-- <td>
                                                    (254) 720
                                                </td> -->
                                                <td>
                                                    {{item.gender}}
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                <!-- </div> -->
                          </div>
                <!-- <div class="col">
                    <div class="text-center">
                        <img src="assets/images/landing/dashboard.png" alt="" class="img-links">
                    </div>
                    <div class="center-text">
                        <p>Dashboard</p>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="text-center">
                        <img src="assets/images/landing/settings.png" alt="" class="img-links">
                    </div>
                    <div class="center-text">
                        <p>Settings</p>
                    </div>
                </div> -->
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center">
                                <img src="assets/images/labs/Patients in Waiting.png" alt="" class="img-links first-image-small">
                                <p  class="center-text patients-in-queue"><b>15</b> PATIENTS <br>IN WAITING</p>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:5%">
                            <div class="text-center">
                                <img src="assets/images/labs/Patients seen.png" alt="" class="img-links second-image-align second-image-small">
                                <p class="patients-seen">20 <br> PATIENTS <br> SEEN</p>
                                <!-- <div class="center-text" style="margin-top:40%; margin-right: 40%">
                                    <p>20 <br> PATIENTS <br> SEEN</p>
                                </div> -->
                            </div>
                            
                        </div>
                    </div>
                    <div class="row" class="center-image-align">
                        <div class="col-md-6">
                            <div class="text-center">
                                <img  src="assets/images/labs/Waiting.png" alt="" class="img-links waiting-image">
                            </div>
                            <div class="text-center logged_in_for">
                                <div><p>LOGGED IN FOR:</p></div>
                                <img src="assets/images/labs/Logged in for 1 hr.png" alt="" class="img-links fourth-image-small">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <img src="assets/images/labs/Average Time per Patient.png" alt="" class="img-links third-image-small  third-image-align">
                                <p class="average_time_patient"><b style="font-size:40px">5</b><br>MINS</p>
                                <p class="average_time_patient_text">AVERAGE <br>TIME PER<br> PATIENT</p>
                                <!-- <div class="center-text" style="margin-top:40%; margin-right: 40%">
                                    <p>20 <br> PATIENTS <br> SEEN</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row ">
                <div class="col-sm-12 mx-auto">
                    <div class="text-center">
                        <img src="assets/images/landing/landing.png" class="img-landing" alt="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <img src="assets/images/landing/reports.png" alt="" class="img-links">
                    </div>
                    <div class="center-text">
                        <p>Reports</p>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="text-center">
                        <img src="assets/images/landing/stations.png" alt="" class="img-links">
                    </div>
                    <div class="center-text">
                        <p>Stations</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
