<nav class="navbar custom-navbar main-footer small px-3">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-color" href="javascript:;">
                <span>Copyright &copy; 2019 </span> <span class="">FluxAfya</span>. All rights reserved
            </a>
        </li>
    </ul>
    <ul class="navbar-nav hidden-xs-down">
        <li class="nav-item">
            Made in Kenya. Built by&nbsp;<a class="nav-link text-color" target="_blank" href="http://sisitech.com"> Sisitech Limited.</a>
        </li>
    </ul>
</nav>