<div class="shorten-cards">
    <div class="card">
        <div class="card-body">Welcome <b>Dennis Sigei,</b></div>
    </div>
    <div class="card">
        <div class="card-header">Patient's Lab Tests</div>

        <div class="card-body">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Lab Test</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-background-color" id="staticEmail" value="Urine Sample">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Test Report</label>
                <div class="col-sm-10">
                    <textarea name="" class="form-control form-background-color" id="" cols="30" rows="8"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Attach Image Scan</label>
                <div class="col-sm-10">
                    <input type="file" style="height: 105%;" name="pic" class="form-control form-background-color" accept="image/*">
                </div>
            </div>
        </div>
        <hr>
        <div class="card-body">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Lab Test</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-background-color" id="staticEmail" value="MRI Scan">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Test Report</label>
                <div class="col-sm-10">
                    <textarea name="" class="form-control form-background-color" id="" cols="30" rows="8"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Attach Image Scan</label>
                <div class="col-sm-10">
                    <input type="file" style="height: 105%;" name="pic" class="form-control form-background-color" accept="image/*">
                </div>
            </div>
        </div>
    </div>

    <a [routerLink]="['/doctor/see-patient']">
        <button type="button" class="btn btn-primary">Send to Doctor</button>
    </a>
</div>