<div class="card">
  <div class="card-header">
      Patients in Queue
  </div>
  <div class="card-body">
      <p>The following patients are awaiting service at the Triage station</p>
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>
                          #
                      </th>
                      <th>
                          Patient Id
                      </th>
                      <th>
                          Full name
                      </th>
                      <th>
                          Gender
                      </th>
                      <th>
                          Phone number
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row">
                          1
                      </th>
                      <td>
                          #001
                      </td>
                      <td>
                          Mark Otto
                      </td>
                      <td>
                          Male
                      </td>
                      <td>
                          (254) 720
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">
                          2
                      </th>
                      <td>
                          #002
                      </td>
                      <td>
                          Jane Thornton
                      </td>
                      <td>
                          Female
                      </td>
                      <td>
                          (254) 720
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">
                          3
                      </th>
                      <td>
                          #003
                      </td>
                      <td>
                          Larry the Bird
                      </td>
                      <td>
                          Male
                      </td>
                      <td>
                          (254) 720
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">
                          4
                      </th>
                      <td>
                          #004
                      </td>
                      <td>
                          Mark Otto
                      </td>
                      <td>
                          Male
                      </td>
                      <td>
                          (254) 720
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">
                          5
                      </th>
                      <td>
                          #005
                      </td>
                      <td>
                          Jane Thornton
                      </td>
                      <td>
                          Female
                      </td>
                      <td>
                          (254) 720
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">
                          6
                      </th>
                      <td>
                          #006
                      </td>
                      <td>
                          Larry the Bird
                      </td>
                      <td>
                          Male
                      </td>
                      <td>
                          (254) 720
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">
                          7
                      </th>
                      <td>
                          #007
                      </td>
                      <td>
                          Mark Otto
                      </td>
                      <td>
                          Male
                      </td>
                      <td>
                          (254) 720
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">
                          8
                      </th>
                      <td>
                          #008
                      </td>
                      <td>
                          Jane Thornton
                      </td>
                      <td>
                          Female
                      </td>
                      <td>
                          (254) 720
                      </td>
                  </tr>
                  <tr>
                      <th scope="row">
                          9
                      </th>
                      <td>
                          #009
                      </td>
                      <td>
                          Larry the Bird
                      </td>
                      <td>
                          Male
                      </td>
                      <td>
                          (254) 720
                      </td>
                  </tr>

              </tbody>
          </table>
      </div>
  </div>
</div>