<div class="contain">
    <div class="card">
        <div class="card-header">
            <p>Welcome !</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row top-padding-80">
                <div class="col-md-6">
                    <!-- <div class="card"> -->
                            <!-- <div class="card-header">
                                Patients in Queue
                            </div> -->
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    Full name
                                                </th>
                                                <th>
                                                    Gender
                                                </th>
                                                <th>
                                                    Phone number
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr [routerLink]="['/labs/see-patient']">
                                                <th scope="row">
                                                    1
                                                </th>
                                                <td>
                                                    Mark Otto
                                                </td>
                                                <td>
                                                    Male
                                                </td>
                                                <td>
                                                    (254) 720
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    2
                                                </th>
                                                <td>
                                                    Jane Thornton
                                                </td>
                                                <td>
                                                    Female
                                                </td>
                                                <td>
                                                    (254) 720
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    3
                                                </th>
                                                <td>
                                                    Larry the Bird
                                                </td>
                                                <td>
                                                    Male
                                                </td>
                                                <td>
                                                    (254) 720
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    4
                                                </th>
                                                <td>
                                                    Mark Otto
                                                </td>
                                                <td>
                                                    Male
                                                </td>
                                                <td>
                                                    (254) 720
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    5
                                                </th>
                                                <td>
                                                    Jane Thornton
                                                </td>
                                                <td>
                                                    Female
                                                </td>
                                                <td>
                                                    (254) 720
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    6
                                                </th>
                                                <td>
                                                    Larry the Bird
                                                </td>
                                                <td>
                                                    Male
                                                </td>
                                                <td>
                                                    (254) 720
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    7
                                                </th>
                                                <td>
                                                    Mark Otto
                                                </td>
                                                <td>
                                                    Male
                                                </td>
                                                <td>
                                                    (254) 720
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    8
                                                </th>
                                                <td>
                                                    Jane Thornton
                                                </td>
                                                <td>
                                                    Female
                                                </td>
                                                <td>
                                                    (254) 720
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    9
                                                </th>
                                                <td>
                                                    Larry the Bird
                                                </td>
                                                <td>
                                                    Male
                                                </td>
                                                <td>
                                                    (254) 720
                                                </td>
                                            </tr>
                          
                                        </tbody>
                                    </table>
                                <!-- </div> -->
                          </div>
                <!-- <div class="col">
                    <div class="text-center">
                        <img src="assets/images/landing/dashboard.png" alt="" class="img-links">
                    </div>
                    <div class="center-text">
                        <p>Dashboard</p>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="text-center">
                        <img src="assets/images/landing/settings.png" alt="" class="img-links">
                    </div>
                    <div class="center-text">
                        <p>Settings</p>
                    </div>
                </div> -->
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center">
                                <img src="assets/images/labs/Patients in Waiting.png" alt="" class="img-links">
                                <p style="margin-left:35%; margin-top:-35%;" class="center-text"><b>15</b> PATIENTS <br>IN WAITING</p>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:20%;">
                            <div class="text-center" style=" margin-left:-40%">
                                <img src="assets/images/labs/Patients seen.png" alt="" class="img-links">
                                <p style="margin-left:50%; margin-top:-30%">20 <br> PATIENTS <br> SEEN</p>
                                <!-- <div class="center-text" style="margin-top:40%; margin-right: 40%">
                                    <p>20 <br> PATIENTS <br> SEEN</p>
                                </div> -->
                            </div>
                            
                        </div>
                    </div>
                    <div class="row" style="margin-top:-10%">
                        <div class="col-md-6">
                            <div class="text-center">
                                <img style="width:80%" src="assets/images/labs/Waiting.png" alt="" class="img-links">
                            </div>
                            <div class="text-center" style="margin-top:30%">
                                <div><p>LOGGED IN FOR:</p></div>
                                <img src="assets/images/labs/Logged in for 1 hr.png" alt="" class="img-links">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center" style="margin-top:40%; margin-left:-40%">
                                <img src="assets/images/labs/Average Time per Patient.png" alt="" class="img-links">
                                <p style="margin-left:10%; margin-top:-30%"><b style="font-size:40px">5</b><br>MINS</p>
                                <p style="margin-left:50%; margin-top:-25%">AVERAGE <br>TIME PER<br> PATIENT</p>
                                <!-- <div class="center-text" style="margin-top:40%; margin-right: 40%">
                                    <p>20 <br> PATIENTS <br> SEEN</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row ">
                <div class="col-sm-12 mx-auto">
                    <div class="text-center">
                        <img src="assets/images/landing/landing.png" class="img-landing" alt="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <img src="assets/images/landing/reports.png" alt="" class="img-links">
                    </div>
                    <div class="center-text">
                        <p>Reports</p>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="text-center">
                        <img src="assets/images/landing/stations.png" alt="" class="img-links">
                    </div>
                    <div class="center-text">
                        <p>Stations</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
