<div class="card">
    <div class="card-header">
        Patients in Queue
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Full name
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Phone number
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-danger">
                        <th scope="row">
                            1
                        </th>
                        <td>
                            Mark Otto
                        </td>
                        <td>
                            Male
                        </td>
                        <td>
                            (254) 720
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">
                            2
                        </th>
                        <td>
                            Jane Thornton
                        </td>
                        <td>
                            Female
                        </td>
                        <td>
                            (254) 720
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">
                            3
                        </th>
                        <td>
                            Larry the Bird
                        </td>
                        <td>
                            Male
                        </td>
                        <td>
                            (254) 720
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            4
                        </th>
                        <td>
                            Mark Otto
                        </td>
                        <td>
                            Male
                        </td>
                        <td>
                            (254) 720
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            5
                        </th>
                        <td>
                            Jane Thornton
                        </td>
                        <td>
                            Female
                        </td>
                        <td>
                            (254) 720
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            6
                        </th>
                        <td>
                            Larry the Bird
                        </td>
                        <td>
                            Male
                        </td>
                        <td>
                            (254) 720
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            7
                        </th>
                        <td>
                            Mark Otto
                        </td>
                        <td>
                            Male
                        </td>
                        <td>
                            (254) 720
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            8
                        </th>
                        <td>
                            Jane Thornton
                        </td>
                        <td>
                            Female
                        </td>
                        <td>
                            (254) 720
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            9
                        </th>
                        <td>
                            Larry the Bird
                        </td>
                        <td>
                            Male
                        </td>
                        <td>
                            (254) 720
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>