<nav class="navbar custom-navbar bg-faded main-header px-3">

    <a href="javascript:;" class="nav-link pl-0 d-lg-none" (click)="toggleSidenav.emit()">
        <i class="icon ion-android-menu"></i>
    </a>

    <span class="navbar-heading mr-3">{{heading}}</span>

    <span class="nav-divider mx-3 d-none d-sm-block"></span>

    <ul class="navbar-nav mx-3">
        <li class="nav-item" ngbDropdown placement="bottom-left">
            <a href="javascript:;" class="nav-link" ngbDropdownToggle container="body" placement="bottom" ngbTooltip="Notifications">
                <i class="icon ion-ios-bell"></i>
                <span class="badge badge-danger" style="background-color: #cf005d">4</span>
            </a>

            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right notifications">
                <div class="notifications-wrapper">
                    <a href="javascript:;" class="dropdown-item">
                        <span class="badge badge-warning">NEW</span> &nbsp;Sean launched a new application
                        <span class="time">2 seconds ago</span>
                    </a>
                    <a href="javascript:;" class="dropdown-item">
                  Removed calendar from app list
                  <span class="time">4 hours ago</span>
                </a>
                    <a href="javascript:;" class="dropdown-item">
                  Jack Hunt has joined mailing list
                  <span class="time">9 days ago</span>
                </a>
                    <a href="javascript:;" class="dropdown-item">
                        <span class="text-muted">Conan Johns created a new list</span>
                        <span class="time">9 days ago</span>
                    </a>
                </div>
                <div class="notification-footer">
                    <a href="javascript:;" class="dropdown-item">See all notifications</a>
                </div>
            </div>
        </li>
        <li class="nav-item" ngbDropdown placement="bottom-left">
            <a href="javascript:;" class="nav-link" ngbDropdownToggle container="body" placement="bottom" ngbTooltip="Finance">
                <i class="icon ion-card"></i>
                <!-- <i><img src="assets/images/landing/switch.png" class="icon icons" alt=""> -->
                <span class="badge badge-danger" style="background-color: #cf005d">2</span>
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right notifications">
                <div class="notifications-wrapper">
                    <a href="javascript:;" class="dropdown-item">
                        <span class="badge badge-warning">NEW</span> &nbsp;Sean launched a new application
                        <span class="time">2 seconds ago</span>
                    </a>
                    <a href="javascript:;" class="dropdown-item">
                  Removed calendar from app list
                  <span class="time">4 hours ago</span>
                </a>
                    <a href="javascript:;" class="dropdown-item">
                  Jack Hunt has joined mailing list
                  <span class="time">9 days ago</span>
                </a>
                    <a href="javascript:;" class="dropdown-item">
                        <span class="text-muted">Conan Johns created a new list</span>
                        <span class="time">9 days ago</span>
                    </a>
                </div>
                <div class="notification-footer">
                    <a href="javascript:;" class="dropdown-item">See all notifications</a>
                </div>
            </div>
        </li>
    </ul>

    <span class="nav-divider mx-3 d-none d-sm-block"></span>

    <form class="form-search form-inline ml-3 d-none d-sm-block">
        <div class="d-flex align-items-center">
            <i class="icon ion-ios-search mr-2"></i>
            <input class="form-control border-0 no-bg fw-300" type="text" placeholder="Search the system ...">
        </div>
    </form>

    <span class="mr-auto"></span>

    <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown placement="bottom-right">
            <a href="javascript:;" class="nav-link" ngbDropdownToggle>
                <span class="widget-icon rounded-circle bg-secondary text-white d-none d-md-inline-block">{{userinitials}}</span>
                <span class="ml-2">{{username}}</span>
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:;">
                    <span>Settings</span>
                </a>
                <a class="dropdown-item" href="javascript:;">
                    <span>Profile</span>
                </a>
                <a class="dropdown-item" href="javascript:;">
                    <span>Notifications</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:;">
                    <span>Help</span>
                </a>
                <a (click)="logout()" class="dropdown-item" href="javascript:;">
                    <span>Sign out</span>
                </a>
            </div>
        </li>
    </ul>

    <ul class="navbar-nav ml-3">
        <!-- <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/pages/pricing']">
                <button class="btn btn-secondary btn-sm px-3">Upgrade</button>
            </a>
        </li> -->
    </ul>
</nav>