<div class="shorten-cards">
    <div class="card">
        <div class="card-body">Welcome <b>Dennis Sigei,</b></div>
    </div>
    <div class="card">
        <aw-wizard>
            <aw-wizard-step stepTitle="Triage Report">
                <!-- <div class="card-header">Symptoms & Diagnosis</div> -->
                <hr>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">Measure of patient's vitals</div>

                        <div class="card-body">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Weight</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="staticEmail" value="80 Kgs">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Temperature</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="staticEmail" value="30">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Blood Pressure</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="staticEmail" value="120 Systolic">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="staticEmail" value="80 Diastolic">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="staticEmail" value="120/80">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Allergies</label>
                                <div class="col-sm-10">
                                    <textarea name="" class="form-control" id="" cols="30" rows="8">The patient had no allergies to any drugs.</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" awNextStep class="btn btn-primary">Next</button>
                </div>
                <!-- <button type="button" awNextStep>Next Step</button>
        <button type="button" [awGoToStep]="{stepIndex: 2}">Go directly to third Step</button> -->
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Symptoms & Diagnosis" awOptionalStep>
                <hr>
                <!-- <div class="card-header">Laboratory Tests</div> -->
                <div class="card-body">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Symptoms</label>
                        <div class="col-sm-10">
                            <textarea name="" class="form-control" id="" cols="30" rows="10">>>text picked from the triage section 
                    </textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Diagnosis</label>
                        <div class="col-sm-10">
                            <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" awPreviousStep>Previous</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" awNextStep>Next</button>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Laboratory Tests" awOptionalStep>
                <hr>
                <!-- <div class="card-header">Laboratory Tests</div> -->
                <div class="card-body">

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Test patient for </label>
                        <select class="selectpicker col-sm-10" multiple data-live-search="true" style="width:50px;">
                    <option>Malaria</option>
                    <option>Urine Sample</option>
                    <option>Stool Sample</option>
                    <option>MRI Scan</option>
                  </select>
                    </div>

                    <br><br>

                    <span><button class="btn btn-primary">Add Diagnosis</button></span>
                    <br>
                    <hr>
                    <button type="button" class="btn btn-primary" awPreviousStep>Previous</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" awNextStep>Next</button>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Treatment & Prescription">
                <hr>
                <!-- <div class="card-header">Treatment & Prescription</div> -->
                <div class="card-body">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Treatment notes</label>
                        <div class="col-sm-10">
                            <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Prescription notes</label>
                        <div class="col-sm-10">
                            <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Choose Follow-up visit date</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="date" value="2019-01-15" id="example-date-input">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" awPreviousStep>Previous</button>&nbsp;&nbsp;
                    <a [routerLink]="['/pharmacy/see-patient']">
                        <button type="button" class="btn btn-primary" (click)="finishFunction()">Send to Pharmacy</button>
                    </a>
                </div>
            </aw-wizard-step>
        </aw-wizard>
    </div>
</div>