<div class="card">
    <div class="card-body">Welcome <b>Mark Otto,</b></div>
</div>
<div class="card">
    <aw-wizard>
      <aw-wizard-step stepTitle="Triage">
        <div class="card-header">Symptoms & Diagnosis</div>
        <div class="card-body">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Symptoms</label>
                <div class="col-sm-10">
                    <textarea name="" class="form-control" id="" cols="30" rows="10">>>text picked from the triage section 
                    </textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Diagnosis</label>
                <div class="col-sm-10">
                    <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <a [routerLink]="['/pharmacy/see-patient']">
                <button type="button" awNextStep class="btn btn-primary">Send to Pharmacy</button>
            </a>
        </div>
        <!-- <button type="button" awNextStep>Next Step</button>
        <button type="button" [awGoToStep]="{stepIndex: 2}">Go directly to third Step</button> -->
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Symptoms & Diagnosis" awOptionalStep>
        <div class="card-header">Laboratory Tests</div>
        <div class="card-body">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Test patient for </label>
                <div class="col-sm-10">
                    <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <button type="button" class="btn btn-primary" awPreviousStep>Go to previous step</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" awNextStep>Go to next step</button>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Laboratory Tests" awOptionalStep>
        <div class="card-header">Laboratory Tests</div>
        <div class="card-body">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Test patient for </label>
                <div class="col-sm-10">
                    <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <button type="button" class="btn btn-primary" awPreviousStep>Go to previous step</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" awNextStep>Go to next step</button>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Treatment & Prescription">
        <div class="card-header">Treatment & Prescription</div>
        <div class="card-body">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Treatment notes</label>
                <div class="col-sm-10">
                    <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Prescription notes</label>
                <div class="col-sm-10">
                    <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Choose Follow-up visit date</label>
              <div class="col-sm-10">
                <input class="form-control" type="date" value="2019-01-15" id="example-date-input">
              </div>
            </div>
            <button type="button" class="btn btn-primary" awPreviousStep>Previous Step</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="finishFunction()">Finish</button>
        </div>
      </aw-wizard-step>
    </aw-wizard>
</div>
<!-- 
<div class="card">
    <div class="card-header">Symptoms & Diagnosis</div>
    <div class="card-body">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Symptoms</label>
            <div class="col-sm-10">
                <textarea name="" class="form-control" id="" cols="30" rows="10">>>text picked from the triage section 
                </textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Diagnosis</label>
            <div class="col-sm-10">
                <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">Laboratory Tests</div>
    <div class="card-body">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Test patient for </label>
            <div class="col-sm-10">
                <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">Treatment & Prescription</div>
    <div class="card-body">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Treatment notes</label>
            <div class="col-sm-10">
                <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Prescription notes</label>
            <div class="col-sm-10">
                <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">Choose Follow-up visit</div>
    <div class="card-body">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Choose a Date</label>
          <div class="col-10">
            <input class="form-control" type="date" value="2019-01-15" id="example-date-input">
          </div>
        </div>
    </div>
</div>
<a [routerLink]="['/pharmacy/see-patient']">
    <button type="button" class="btn btn-primary">Send to Pharmacy</button>
</a> -->