.first-image-position-left {
    margin-right:25%;
    margin-top:-55%;
}
.second-image-position-left {
    margin-right:25%;
    margin-top:-20%;
}
.first-image-position-right {
    margin-right:-48%;
    margin-top:-68%;
}
.second-image-position-right {
    margin-right:-58%;
    margin-top:-28%;
}
.bottom-image-position {
    margin-top:-15%;
}
.top-image-position {
    margin-bottom:2%;
}