<div class="contain">
    <div class="card">
        <div class="card-header">
            <h6 style="padding-top:3px;">SETTINGS</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <!-- <div class="row" style="padding-top: 40px;">
                <div class="col">
                    <div class="float-right">
                        <img src="assets/images/landing/dashboard.png" alt="" class="img-links">
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="float-left">
                        <img src="assets/images/landing/settings.png" alt="" class="img-links">
                    </div>
                </div>
            </div> -->

            <div class="row" style="padding-top: 100px;">
                <div class="col-sm-12 mx-auto">
                    <div class="text-center">
                        <img src="assets/images/admin-settings/settings-centre-page.png" class="img-landing" alt="">
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom: 100px;">
                <div class="col">
                    <div class="float-right">
                        <img src="assets/images/admin-settings/admin-settings-station.png" alt="" class="img-links">
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="float-left">
                        <img src="assets/images/admin-settings/admin-settings-profile.png" alt="" class="img-links">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>