<div class="shorten-cards">
    <form [formGroup]="searchform"  (ngSubmit)="searchPatient()">
        <div class="card">
            <div class="card-header"><b>Basic Information</b></div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">National ID number</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="identity" class="form-control" id="staticEmail" placeholder="Id Number">
                    </div>
                    <div class="invalid-feedback" *ngIf="searchform.controls.identity.errors?.required && searchform.controls.identity.touched">Unique identification is required.</div>
                    <br><br>
                    <div class="col-sm-2">
                        <button [disabled]="!searchform.valid" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="listSearchedPatients" class="shorten-cards">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-scroll">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    PATIENT ID
                                <th>
                                    FULL NAME
                                </th>
                                <th>
                                    PHONE NUMBER
                                </th>
                                <th>
                                    GENDER
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pt of patients; let i = index;">
                                <th scope="row">
                                    {{(page-1)*10+(i+1)}}
                                </th>
                                <td>
                                    {{pt.id}}
                                </td>
                                <td>
                                    {{pt.name}}
                                </td>
                                <td>
                                    {{pt.phone}}
                                </td>
                                <td>
                                    {{pt.gender}}
                                </td>
                                <td>
                                    <button (click)="fetchPatientDetails(pt)" class="btn btn-primary">SELECT</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="searchClicked && !listSearchedPatients" class="shorten-cards">
    <div *ngIf="notRegistered" class="alert alert-danger" role="alert">
        Record not found. Kindly register patient!
    </div>
    <form [formGroup]="registerform"  (ngSubmit)="registerPatient()">
        <div class="card">
            <div class="card-header"><b>Basic Information</b></div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Full Names</label>
                    <div class="col-sm-10">
                        <input *ngIf="!notRegistered" disabled type="text" value="{{ patient_name }}" class="form-control" id="staticEmail" placeholder="John Doe">
                        <input *ngIf="notRegistered" formControlName="name" type="text"  class="form-control" id="staticEmail" placeholder="John Doe">
                        <div class="invalid-feedback" *ngIf="notRegistered && registerform.controls.name.errors?.required && registerform.controls.name.touched">Full name is required.</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">ID number / Passport</label>
                    <div class="col-sm-10">
                        <input *ngIf="!notRegistered" disabled type="number" value="{{ patient_national_id }}" class="form-control" id="staticEmail" placeholder="123456">
                        <input *ngIf="notRegistered" formControlName="national_id" type="text"  class="form-control" id="staticEmail" placeholder="123456">
                        <div class="invalid-feedback" *ngIf="notRegistered && registerform.controls.national_id.errors?.required && registerform.controls.national_id.touched">National Id / Passport number is required.</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Choose Gender</label>
                    <div class="col-sm-10">
                        <select *ngIf="!notRegistered" disabled class="form-control" id="sel1">
                            <option>Choose Gender</option>
                            <option selected disabled>{{patient_gender}}</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                        <select formControlName="gender" *ngIf="notRegistered"  class="form-control" id="sel1">
                                <option>Choose Gender</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="notRegistered && registerform.controls.gender.errors?.required && registerform.controls.gender.touched">Gender is required.</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Date of Birth</label>
                    <div class="col-sm-10">
                        <input *ngIf="!notRegistered" disabled type="text" value="{{ patient_dob }}" class="form-control" id="staticEmail" placeholder="2019-2-01">
                        <input *ngIf="notRegistered" formControlName="dob" type="date" class="form-control" id="staticEmail" placeholder="2019-2-01">
                        <!-- <div class="invalid-feedback" *ngIf="notRegistered && registerform.controls.dob.errors?.required && registerform.controls.dob.touched">Date of birth is required.</div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><b>Insurance | Payment Information</b></div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Do you have NHIF ?</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input *ngIf="!notRegistered && patient_has_nhif==='true'" checked disabled class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
                            <input *ngIf="!notRegistered && patient_has_nhif==='false'" checked disabled class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
                            <input formControlName="has_nhif" *ngIf="notRegistered" class="form-check-input" type="radio" name="has_nhif" id="inlineRadio1" value="true">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input *ngIf="!notRegistered && patient_has_nhif==='false'" checked disabled class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
                            <input *ngIf="!notRegistered && patient_has_nhif==='true'" disabled class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
                            <input formControlName="has_nhif" *ngIf="notRegistered" class="form-check-input" type="radio" name="has_nhif" id="inlineRadio2" value="false">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Insurance Policy</label>
                    <div class="col-sm-10">
                        <select *ngIf="!notRegistered" disabled class="form-control" id="sel1">
                            <option disabled selected>{{patient_insurance}}</option>
                            <option>Choose Insurer</option>
                            <option>Jubilee Insurance</option>
                            <option>UAP Insurance</option>
                        </select>
                        <select (change)="onSelectAction()" formControlName="insurance" *ngIf="notRegistered" class="form-control" id="sel1">
                                <option>Choose Insurer</option>
                                <option value="None">None</option>
                                <option value="Jubilee Insurance">Jubilee Insurance</option>
                                <option value="UAP Insurance">UAP Insurance</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label *ngIf="insurance_number_field" for="staticEmail" class="col-sm-2 col-form-label">Insurance Policy Number</label>
                    <div class="col-sm-10">
                        <input *ngIf="!notRegistered" disabled type="text" value="{{ patient_insurance_number }}" class="form-control" id="staticEmail" placeholder="">
                        <input formControlName="insurance_number" *ngIf="notRegistered && insurance_number_field"  type="text" class="form-control" id="staticEmail" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><b>Contact Information</b></div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Phone number</label>
                    <div class="col-sm-10">
                        <input *ngIf="!notRegistered" disabled type="text" value="{{ patient_phone }}" class="form-control" id="staticEmail" placeholder="(254) 720 ">
                        <input formControlName="phone" *ngIf="notRegistered" type="text" class="form-control" id="staticEmail" placeholder="(254) 720 ">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Physical Address</label>
                    <div class="col-sm-10">
                        <input *ngIf="!notRegistered" disabled type="text"  value="{{ patient_address }}" class="form-control" id="staticEmail" placeholder="South B, Industrial Area, Nairobi">
                        <input formControlName="physical_address" *ngIf="notRegistered" type="text" class="form-control" id="staticEmail" placeholder="South B, Industrial Area, Nairobi">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Location Status</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input *ngIf="!notRegistered" disabled class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="local">
                            <input formControlName="registered_hospital" *ngIf="notRegistered" class="form-check-input" type="radio" name="registered_hospital" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Local Resident</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input *ngIf="!notRegistered" disabled active class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="visiting">
                            <input formControlName="registered_hospital" *ngIf="notRegistered" active class="form-check-input" type="radio" name="registered_hospital" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Visiting</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Error Notifications here -->
            <div *ngIf="failed && !success" class="alert alert-danger" role="alert">
                {{failed}}
            </div>
            <div *ngIf="success && !failed" class="alert alert-success" role="alert">
                {{success}}
            </div>
        </div>
        <button *ngIf="notRegistered" type="submit" [disabled]="!registerform.valid" class="btn btn-primary">Send to Triage</button>
    </form>
    <button *ngIf="!notRegistered" type="button" (click)="sendToTriage(patient_id)" class="btn btn-primary">Send to Triage</button>
</div>