<div class="row">
    <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-10">
                <input class="form-control form-background-color" type="date" value="2019-01-15" id="example-date-input">
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">End Date</label>
            <div class="col-sm-10">
                <input class="form-control form-background-color" type="date" value="2019-01-15" id="example-date-input">
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2">
            <button type="button" class="btn btn-primary">Filter Graphs</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header d-block">
                <p class="mb-0">Patients Trends per Gender</p>
                <small class="d-block text-muted">Line Chart Analytics</small>
            </div>
            <div class="card-body px-0 py-4 rounded-bottom">
                <div>
                    <ngx-charts-line-chart class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="dateDataWithOrWithoutRange" [legend]="showLegend" (legendLabelClick)="onLegendLabelClick($event)" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [autoScale]="autoScale" [timeline]="timeline" [showGridLines]="showGridLines" [curve]="curve" [rangeFillOpacity]="rangeFillOpacity" [roundDomains]="roundDomains" [tooltipDisabled]="true"
                        (select)="select($event)">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header d-block">
                <p class="mb-0">Daily Trends</p>
                <small class="d-block text-muted">Area Chart Analytics</small>
            </div>
            <div class="card-body px-0 py-4  rounded-bottom">
                <div>
                    <ngx-charts-area-chart class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="dateData" [legend]="showLegend" (legendLabelClick)="onLegendLabelClick($event)" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" [timeline]="timeline" [showGridLines]="showGridLines" [roundDomains]="roundDomains" [curve]="curve" [tooltipDisabled]="tooltipDisabled"
                        (select)="select($event)">
                    </ngx-charts-area-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header d-block">
                <p class="mb-0">Disease Trends</p>
                <small class="d-block text-muted">Stacked Area Chart Analytics</small>
            </div>
            <div class="card-body px-0 py-4  rounded-bottom">
                <div>
                    <ngx-charts-area-chart-stacked class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="dateData" [legend]="showLegend" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" (legendLabelClick)="onLegendLabelClick($event)"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [showGridLines]="showGridLines" [roundDomains]="roundDomains" [tooltipDisabled]="tooltipDisabled"
                        [curve]="curve" (select)="select($event)">
                    </ngx-charts-area-chart-stacked>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header d-block">
                <p class="mb-0">Patients per Countries</p>
                <small class="d-block text-muted">Vertical Bar Chart Analytics</small>
            </div>
            <div class="card-body px-0 py-4  rounded-bottom">
                <div>
                    <ngx-charts-bar-vertical class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [tooltipDisabled]="tooltipDisabled" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showGridLines]="showGridLines" [barPadding]="barPadding" [roundDomains]="roundDomains" (select)="select($event)" (legendLabelClick)="onLegendLabelClick($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header d-block">
                <p class="mb-0">Visits per Country</p>
                <small class="d-block text-muted">Horizontal Bar Chart Analytics</small>
            </div>
            <div class="card-body px-0 py-4  rounded-bottom">
                <div>
                    <ngx-charts-bar-horizontal class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [tooltipDisabled]="tooltipDisabled" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showGridLines]="showGridLines" [barPadding]="barPadding" [roundDomains]="roundDomains" (legendLabelClick)="onLegendLabelClick($event)" (select)="select($event)">
                    </ngx-charts-bar-horizontal>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header d-block">
                <p class="mb-0">Segregation per Gender</p>
                <small class="d-block text-muted">Stacked Vertical Bar Chart Analytics</small>
            </div>
            <div class="card-body px-0 py-4  rounded-bottom">
                <div>
                    <ngx-charts-bar-vertical-stacked class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="multi" [gradient]="gradient" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" (legendLabelClick)="onLegendLabelClick($event)"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showGridLines]="showGridLines" [barPadding]="barPadding" [roundDomains]="roundDomains" (select)="select($event)">
                    </ngx-charts-bar-vertical-stacked>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header d-block">
                <p class="mb-0">Conversions</p>
                <small class="d-block text-muted">Pie Chart Analytics</small>
            </div>
            <div class="card-body px-0 py-4  rounded-bottom">
                <div>
                    <ngx-charts-pie-chart class="chart-container" [scheme]="colorScheme" [results]="single" [legend]="showLegend" [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [arcWidth]="arcWidth" (legendLabelClick)="onLegendLabelClick($event)"
                        [gradient]="gradient" [tooltipDisabled]="tooltipDisabled" (select)="select($event)">
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header d-block">
                <p class="mb-0">Disease Trends</p>
                <small class="d-block text-muted">Linear Gauge Analytics</small>
            </div>
            <div class="card-body px-0 py-4  rounded-bottom">
                <div>
                    <ngx-charts-area-chart-normalized class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="dateData" [legend]="showLegend" [gradient]="gradient" [xAxis]="showXAxis" (legendLabelClick)="onLegendLabelClick($event)" [yAxis]="showYAxis"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [showGridLines]="showGridLines" [roundDomains]="roundDomains" [tooltipDisabled]="tooltipDisabled"
                        [curve]="curve" (select)="select($event)">
                    </ngx-charts-area-chart-normalized>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header d-block">
                <p class="mb-0">Age - Disease Distribution</p>
                <small class="d-block text-muted">Tree Map Analytics</small>
            </div>
            <div class="card-body px-0 py-4  rounded-bottom">
                <div>
                    <ngx-charts-bar-vertical-normalized class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="multi" [gradient]="gradient" [tooltipDisabled]="tooltipDisabled" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                        (legendLabelClick)="onLegendLabelClick($event)" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showGridLines]="showGridLines" [barPadding]="barPadding" [roundDomains]="roundDomains" (select)="select($event)">
                    </ngx-charts-bar-vertical-normalized>
                </div>
            </div>
        </div>
    </div>
</div>