.shorten-cards {
    width: 70% !important;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.rounded-alerts {
    border-radius: 90px;
}

.logo {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}