.shorten-cards {
    width: 70% !important;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.rounded-alerts {
    border-radius: 90px;
}

.logo {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}


/* Added from sample design */

.logo {
    width: 80%;
    padding-top: 50px;
}

.img-links {
    width: 65%;
}

.nav-links li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}

.center-text {
    text-align: center;
}

.top-pad-sm {
    padding-top: 20px;
}

.flag {
    width: 10%;
    display: inline;
}

.float-right {
    text-align: right;
}

.float-left {
    text-align: left;
}

.top-pad-m {
    padding-top: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px 20px 0px 20px;
}

p,
a,
li {
    color: #cf005d;
}

.healthcare-tag {
    letter-spacing: 2.5px
}

.sub-title {
    font-size: 14px;
}

.icons {
    width: 5%;
}

.contain {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.top-padding-80 {
    padding-top: 80px;
}

.top-padding-100 {
    padding-top: 100px;
}

.img-landing {
    width: 20%;
}

.card-body {
    background-color: #fdf7fa;
}

.card .card-header {
    background-color: #fdf7fa;
}

.main-content {
    background-color: white;
}

mat-sidenav.sidebar-panel .menu .navigation-link {
    color: white !important;
}

body {
    background-color: white;
}

mat-sidenav.sidebar-panel .menu .navigation-link {
    color: white !important;
}


/*Norman Style Css */


/* forms */

.form-background-color {
    background-color: #F9DEEB !important;
}