<div class="shorten-cards">
    <form [formGroup]="triageform"  (ngSubmit)="registerTriage()">
        <div class="card">
            <div class="card-body">Welcome <b>Dennis Sigei,</b></div>
        </div>
        <div class="card">
            <div class="card-header">MEASURE OF PATIENT'S VITALS</div>

            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="row">
                            <label for="staticEmail" class="col-sm-5 symptoms-form col-form-label">Weight</label>
                            <div class="col-sm-5">
                                <input type="text"  formControlName="weight" class="form-control form-background-color" id="staticEmail" placeholder="80 Kgs">
                            </div>
                            <div class="invalid-feedback" *ngIf="triageform.controls.weight.errors?.required && triageform.controls.weight.touched">Weight is required.</div>
                        </div>
                        <br>
                        <div class="row">
                            <label for="staticEmail" class="col-sm-5 symptoms-form col-form-label">Temperature</label>
                            <div class="col-sm-5">
                                <input type="text" formControlName="temperature" class="form-control form-background-color" id="staticEmail" placeholder="30">
                            </div>
                            <div class="invalid-feedback" *ngIf="triageform.controls.temperature.errors?.required && triageform.controls.temperature.touched">Temperatir is required.</div>
                        </div>
                        <br>
                        <div class="row">
                            <label for="staticEmail" class="col-sm-5  symptoms-form col-form-label">Blood Pressure</label>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input type="text" formControlName="bp_diastolic" class="form-control form-background-color" id="staticEmail" placeholder="120">
                                    </div>
                                    <span class="strike-line">/</span>
                                    <div class="col-sm-5">
                                        <input type="text" formControlName="bp_systolic" class="form-control form-background-color" id="staticEmail" placeholder="80">
                                    </div>
                                    <div class="invalid-feedback" *ngIf="triageform.controls.bp_systolic.errors?.required && triageform.controls.bp_systolic.touched">Blood pressure systolic cannot be empty.</div>
                                    <div class="invalid-feedback" *ngIf="triageform.controls.bp_diastolic.errors?.required && triageform.controls.bp_diastolic.touched">Blood pressure diastolic cannot be empty.</div>
                                </div>
                            <!-- </div>/
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="staticEmail" placeholder="Diastolic">
                            </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-space">
                        <div class="row">
                            <label for="staticEmail" class="col-sm-3 col-form-label">Allergies</label>
                            <div class="col-sm-9">
                                <textarea name="" formControlName='allergies' class="form-control form-background-color allergy-form-width" id="" cols="30" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">SYMPTOMS SUMMARY</div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 symptoms-form col-form-label">Symptoms <br> Summary</label>
                    <div  class="col-sm-8 form-space">
                        <textarea formContolName="symptoms" name="" class="form-control form-background-color form-width" id="" cols="30" rows="8"></textarea>
                    </div>
                    <!-- <div class="invalid-feedback" *ngIf="triageform.controls.symptoms.errors?.required && triageform.controls.symptoms.touched">Sympotms summary is required.</div> -->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">PRIORITY</div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 symptoms-form col-form-label">Patient <br> Urgency</label>
                    <div  class="col-sm-8 form-space">
                        <select name="" formControlName="urgency" class="form-control form-background-color form-width" id="">
                        <option>-----</option>
                        <option value="false">Normal</option>
                        <option value="true">High</option>
                    </select>
                    </div>
                </div>
            </div>
            <br>
            <!-- Error Notifications here -->
            <div *ngIf="failed && !success" class="alert alert-danger" role="alert">
                    {{failed}}
                </div>
                <div *ngIf="success && !failed" class="alert alert-success" role="alert">
                    {{success}}
                </div>
        </div>
        <!-- <a [routerLink]="['/finance/see-patient']"> -->
            <button type="submit" *ngIf="!listbutton" [disabled]="!triageform.valid" class="btn btn-primary">Send to Cashier</button>
        <!-- </a> -->
    </form>
    <a *ngIf="listbutton" [routerLink]="['/triage']"><button type="button" class="btn btn-primary">Go back to triage list</button></a>
</div>